// colors
$primary-color : #fd8428;
$primary-dark : #E14D2A;
$secondary-color : #CD104D;
$accent-color : #9C2C77;
$navbar-color : #efefef;
$white-color : #ffffff;
$black-color : #000000;
$primary-gray : #2c2c2c;
$border-gray : #dcdcdc;
$text-color : rgb(126, 126, 126);
$background-color : #f5f5f5;

// fonts
$body-font : 'Poppins', sans-serif;